<% layout('layouts/boilerplate') %>
<div class="productos">
  <div class="row align-items-center">
      <div class="col-md-6 row justify-content-center">
          <h2 href="#!">Citas pendientes. . . </h2>
      </div>
      <div class="col-md-6 row justify-content-center">
          <img class="big-icon" src="images/resources/huella.png" alt="">
      </div>
  </div>
  <hr class="solid">
</div>

    <% for (let meeting of meetings){ 
                    console.log(currUser._id)
            console.log(meeting.userID._id)
            remUser = meeting.userID._id.toString()
            locUser = currUser._id.toString()
        if(remUser == locUser){
            %>
    <div class="card mb-3 p-3 " id="img">
  <main class='container mt-5'>

    <div class="row">
      <div class="col-md-4">
          <img class="img-fluid" alt="" src="<%= meeting.petID.image%>">
          </div>
    <div class="col-md-8">
      <div class="card-body">
          <div class="row align-items-center">
              <h3 class="card-title"><b>Venta solicitada de: </b> <%= meeting.petID.name%></h3>
          </div>
          <hr class="solid">
          
          <h5 class="card-text"><b>Descripción del cachorro:</b> <%=meeting.petID.description%></h5>
          <h5 class="card-text"><b>Raza: </b><%=meeting.petID.raza%></h5>
          <h6 class="card-text"><b>Precio: </b><%=meeting.petID.price%></h6>
          <h3 name="meeting[userID.username]"><b>Responsable de la solicitud:</b> <%=meeting.userID.username%></h3>
          <hr class="solid">
          <h5 class="" name="meeting[description]"><b>Contenido de la solicitud:</b> <%=meeting.description%></h5>
          <h5 class="" name="meeting[description]"><b>Fecha de la cita: </b><%=meeting.date.toISOString().split("T")[0]%></h5>
        <hr class="solid">
        <div class="row align-items-center">
            <h3 class="" name="meeting[description]"><b>Status de la solicitud:</b> <%=meeting.status%></h3>
          </div>

    </div>
    </div>

    </div>
  <form class="d-inline" action="/meetings/<%=meeting._id%>?_method=DELETE" method="POST">
      <button  class="btn btn-danger text-center">Borrar registro</a>
  </form>
</div>
<% }} %> 


 
<script>
    datePickerId.min = new Date().toISOString().split("T")[0];
</script>