<% layout('layouts/boilerplate') %> 
<div class="productos p-3">
    <div class="row align-items-center">
        <div class="col-md-6 row justify-content-center">
            <h2 href="#!">Productos</h2>
        </div>
        <div class="col-md-6 row justify-content-center">
            <img class="big-icon" src="images/resources/huella.png" alt="">
        </div>
    </div>
    <hr class="solid">
</div>
<div>
    <%if(typeof currUser !== 'undefined'){
        if(currUser.role == 1){%>
    <a href="/products/new" class="text-center btn btn-primary justify-content-center m-3">Añadir nuevo producto.</a>
    <%}}%>
    
</div>
    <% for (let product of products){ %>
        <div class="container">
        <div class="card mb-3" id="img">
            <div class="row">
            <div class="col-md-4">
                <img class="img-fluid" alt="" src="<%=product.image%>">
                </div>
        <div class="col-md-8">
            <div class="card-body">
                <div class="row align-items-center">
                    <h3 class="card-title">Nombre: <%= product.name%></h3>
                </div>
                <hr class="solid">
                <h5 class="card-text">Unidades disponibles: <%=product.quantity%></h5>
                <h5 class="card-text">Precio: $ <%=product.price%> MXN</h5>
                <hr class="solid">
                <h4 class="card-text text-center">Descripción:</ph4>
                <h5 class="card-text"><%=product.description%></h5>
                <%if(typeof currUser !== 'undefined'){
        if(currUser.role == 1){%>
            <hr class="solid">
            <a href="/products/<%=product._id%>/edit" class="btn btn-secondary text-center">Editar producto</a>
            <form class="d-inline" action="/products/<%=product._id%>/delete?_method=DELETE" method="POST">
                            <button  class="btn btn-danger text-center">Borrar</a>
                        </form>
    <%}}%>
                
            </div>
        </div>
</div>
</div>
</div>
    <%}  %> 